# Visual Studio
.vs/

# Build
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Visual Studio cache
*.VC.db
*.VC.VC.opendb

# Test results
TestResults/

# NuGet
packages/
*.nupkg

# Rider / JetBrains
.idea/

# VS Code
.vscode/